# nano swap files
*.swp

__pycache__/
*.py[cod]

.venv/
venv/

.idea/
idea/

/data/guild_counts.json

# EM - Ignore Images
*.png
*.gif
*.jpg
*.zip

# Ignore local configs and secrets
scripts/*_configuration.json
config/secrets/*
!config/secrets/example

# Ignore VSCode configs
.vscode/